body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dedcdc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  border-bottom: 1px solid lightgray;
}

.logo {
  height: 70px;
  width: 150px;
  margin-right: 50px;
}

.icons-container {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 60px;
  margin-top: 4px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;
  padding-bottom: 4px;
}

.header-center-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 215, 220);
  border-radius: 15px;
  width: 150px;
  height: 50px;
}
.header-center-icon p {
  color: rgb(254, 49, 83);
}

.notification-badge-header {
  display: flex;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 20%;
  width: 15px;
  height: 15px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 52px;
  margin-left: 33px;
}

.notification-badge-main {
  display: flex;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 20%;
  width: 15px;
  height: 15px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 52px;
  margin-left: 33px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.side-icon {
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  height: 80px;
  padding-right: 8px;
}

.first-icon-group {
  margin-top: 20px;
}

.second-icon-group {
  margin-top: 100px;
}

i {
  cursor: pointer;
}

.notifications-sidebar {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 320px;
  background-color: rgb(241, 241, 241);
  border-radius: 12px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifications-side-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  margin: 20px;
}

.notifications-sidebar p {
  text-align: right;
  margin-right: 8px;
}

.notifications-sidebar h4 {
  margin-right: 8px;
  margin-bottom: 5px;
}

.notifications-sidebar-header {
  display: flex;
  align-items: baseline;
  width: 110px;
  justify-content: space-between;
}

.notifications-sidebar-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  padding-left: 5px;
  padding-right: 15px;
}

.notifications-sidebar-icons span {
  text-align: center;
}

.notification {
  width: 290px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  text-align: right;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 8px;
  padding-top: 5px;
}

.notification-button {
  border-radius: 100%;
  background-color: blue;
  color: blue;
  height: 10px;
}

.notifications-container {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  height: auto;
}

.date {
  float: right;
  padding-right: 8px;
  padding-top: 1px;
}

ul.notifications-list {
  list-style-type: none;
}

.sidbar-buttons {
  display: flex;
  flex-direction: row;
}

.load-more {
  background-color: green;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 110px;
  cursor: pointer;
}

.mark-all {
  background-color: black;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 130px;
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  background-color: white;
  height: 50px;
}

.tab.selected {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.add-notification {
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
}

.add-notification-window {
  display: none;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: auto;
  margin-top: 50px;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-notification-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-notification-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-notification-window button {
  margin-top: 200px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.text-area {
  height: 80px;
  resize: none;
}

.success-message {
  display: block;
  width: 260px;
  height: auto;
  background-color: green;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: baseline;
  justify-content: center;
  margin: auto;
  margin-top: 20%;
}

@media only screen and (max-width: 576px) {
  .notifications-sidebar {
    width: 207px;
    top: 37px;
  }
  .sidebar {
    width: 40px;
    font-size: x-small;
    padding-right: 15px;
  }
  .header-center-icon {
    display: none;
  }
  .header-container {
    height: 35px;
  }
  .icon {
    font-size: xx-small;
  }
  .logo {
    height: 35px;
    width: 80px;
    margin-right: 40px;
  }
  .icons-container {
    margin-top: 5px;
    padding-bottom: 3px;
    display: contents;
  }
  .notification-badge-header {
    margin-top: 29px;
    position: absolute;
    height: 10px;
    border-radius: 10px;
    font-size: xx-small;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 29px;
  }
  .notification-badge-main {
    margin-top: 29px;
    position: absolute;
    height: 10px;
    border-radius: 10px;
    font-size: xx-small;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 29px;
  }
  .add-notification-window {
    height: 50vh;
  }
  .fa-solid {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
